In [42]:
# Tuple is similar to lists datatype but immutable


t=()

print(type(t))

""" It can also be initialised as"""

tup=tuple()

print(type(tup))

t=(1,2,3,4)

print(t)

''' tuple also heterogenous'''

x=(1,'Python',1.2)
print(x)

'''Nested tuple '''

nest_tup=(1,(1,2,3),[1,2,3])
print(nest_tup)

'''Deleting a tuple'''

del nest_tup


""" Indexing , Slicing similar to lists """

print(t[0:3])


print(t[-1])

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)
(1, 'Python', 1.2)
(1, (1, 2, 3), [1, 2, 3])
(1, 2, 3)
4

In [45]:
# IMP rules for a tuple

t=(1)

print(type(t))

x=1,2
print(type(x))

p=(1,)
print(type(p))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [50]:
# Methods of Tuple

s=(1,2,3,4,5,1,1,1,6,7,8,9)

print(type(s))

print(s.count(1))

print(s.index(7))

print(len(s))

print(max(s))

print(sum(s))

<class 'tuple'>
4
9
12
9
48